@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-200;
  }
}

@layer components {
  .btn {
    @apply  inline-block text-sm text-white/70 hover:text-white
           transition duration-200 focus:outline-none focus:ring-2
        
           focus:ring-white/50 rounded-full py-2 px-4 border

           border-white/50 hover:border-white/50;
  }

  .btn--primary {
    @apply  bg-yellow-400 text-white hover:bg-yellow-300;
  }
}
